tests/fixtures/mlperf_tiny/**/*.tflite filter=lfs diff=lfs merge=lfs -text
tests/fixtures/mlperf_tiny/**/*.tflite filter=lfs diff=lfs merge=lfs -text
src/helia_profiler/vendor/segger_rtt/RTT/* -whitespace
src/helia_profiler/vendor/segger_rtt/** text eol=lf
